body {
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    background-image: url("/Platformer/images/background.png");
}


#p1 {
    font-size: 30px;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    top: 3%;
    left: 28%;
    background-color: orange;
    height: 50px;
    width: 20vh;
    border: 1px solid black;
    border-radius: 40%;

}

#p2 {
    font-size: 30px;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    top: 5%;
    right: 28%;
    background-color: blue;
    height: 50px;
    width: 20vh;
    border: 1px solid black;
    border-radius: 40%;

}

/* Plat styling */

.plat {
    position: absolute;
    background-image: url(./images/platforms.png);
    width: 550px;
    height: 50px;
}

#platTL {
    top: 252px;
    left: 0px;
    border: 1px solid black;
}

#platTR {
    top: 252px;
    right: 0px;
    border: 1px solid black;
}

#platBL {
    left: 0px;
    top: 702px;
    border: 1px solid black;
}

#platBR {
    top: 702px;
    right: 0px;
    border: 1px solid black;
}

#platMid {
    width: 650px;
    top: 502px;
    border: 1px solid black;
}

#floor {
    width: 99.9%;
    bottom: 0px;
    height: 31px;
    border: 1px solid black;
}