body {
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    /* background-color: black */
    background-image: url("background.png");
}


#p1 {
    font-size: 30px;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    top: 3%;
    left: 28%;
    background-color: orange;
    height: 50px;
    width: 20vh;
    border: 1px solid black;
    border-radius: 40%;

}

#p2 {
    font-size: 30px;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    top: 5%;
    right: 28%;
    background-color: blue;
    height: 50px;
    width: 20vh;
    border: 1px solid black;
    border-radius: 40%;

}

#platTL {
    position: absolute;
    background-image: url(/Platformer/platforms.png);
    top: 252px;
    left: 0px;
    width: 550px;
    height: 50px;
}

#platBG {
    position: absolute;
    visibility: hidden;
}