* {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

body {
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    background-image: url("/Platformer/images/background.jpg");
}


#p1 {
    font-size: 30px;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    top: 3%;
    left: 28%;
    background-color: grey;
    height: 50px;
    width: 20vh;
    border: 1px solid black;
    border-radius: 40%;

}

#p2 {
    font-size: 30px;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    top: 5%;
    right: 28%;
    background-color: grey;
    height: 50px;
    width: 20vh;
    border: 1px solid black;
    border-radius: 40%;

}

/* Plat styling */

.plat {
    position: absolute;
    background-image: url(./images/plat2.png);
    width: 550px;
    height: 50px;
    border: 1px solid black;
}

#platTL {
    top: 252px;
    left: 0px;
}

#platTR {
    top: 252px;
    right: 0px;
}

#platBL {
    left: 0px;
    top: 702px;
}

#platBR {
    top: 702px;
    right: 0px;
}

#platMid {
    width: 650px;
    top: 502px;
}

#floor {
    width: 99.9%;
    bottom: 0px;
    height: 31px;
    background-image: url(./images/plat3.png);
}

.popup {

    width: 100%;
    height: 100%;
    /* background-image: url(); */
    /* background-color: whitesmoke; */
    /* border-radius: 6px; */
    position: absolute;
    top: 0%;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    text-align: center;
    padding: 0 30px 30px;
    transition: transform 0.4s, top 0.4s;
    z-index: 2;

}

.open-popup {
    visibility: visible;
    top: 52%;
    transform: translate(-50%, -50%) scale(1);
    /* border: 4px; */
    /* border-color: cornflowerblue; */
    /* border-radius: 20%; */
    border-style: solid;
    background-color: black;
}

.btn {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 4px;
    transition-duration: 0.9s;
    font-size: 28px;
    background-color: lightgray;
}


#singlePlayer {
    top: 25%;
    left: 5%;
    border: 4px solid #cc0066;
    color: #cc0066;
}

#singlePlayer:hover {
    background-color: #cc0066;
    color: lightgrey;
}

#multiPlayer {
    top: 25%;
    right: 5%;
    border: 4px solid #00e699;
    color: #00e699;

}

#multiPlayer:hover {
    background-color: #00e699;
    color: white;
}

#gameOver {
    background-color: black;
}

/* #gameStart {} */